%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'

  %br
  %h3.container{:style => "margin: 0 auto;"} Trabajos
  %br

  .container{:style => "margin: 0 auto;"}
    %a{:href => new_worktype_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right add
      Nuevo Tipo de Trabajo

  %br

  .row.container.card{:style => "margin: 0 auto;"}
    %table
      %thead
        %tr
          %th Descripción
          %th Precio
          %th
          %th
          %th

      %tbody
        - @worktypes.each do |worktype|
          %tr
            %td= worktype.name
            %td= "$ #{number_to_currency(worktype.price, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"
            -#%td= link_to 'Ver', worktype
            %td= link_to 'Editar', edit_worktype_path(worktype)
            %td= link_to 'Eliminar', worktype, :method => :delete, :data => { :confirm => 'Esta Seguro?' }

    %br

  -#= link_to 'New Worktype', new_worktype_path


= render :partial => 'layouts/footer'
-# END OF FOOTER
