= form_for @store do |f|
  - if @store.errors.any?
    #error_explanation
      %h2= "#{pluralize(@store.errors.count, "error")} prohibited this store from being saved:"
      %ul
        - @store.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tooth
    = f.number_field :tooth
  .field
    = f.label :note
    = f.text_field :note
  .field
    = f.label :implant
    = f.check_box :implant
  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :sale
    = f.text_field :sale
  .actions
    = f.submit 'Save'
