= form_for @gcolor do |f|
  - if @gcolor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gcolor.errors.count, "error")} prohibited this gcolor from being saved:"
      %ul
        - @gcolor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
