%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h3.container{:style => "margin: 0 auto;"} Contabilidad
  %br

  .container{:style => "margin: 0 auto;"}

    %a.right.modal-trigger{:href =>"#search_filter_orders", :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right search
      Otros Filtros
  %br
    %br
    .row.card.container{:style => "margin: 0 auto"}
      .input-field.col.s12
        %select
          %option{:selected => "selected", :value => "1"} Todas
          %option{:value => "2"} Pendientes
          %option{:value => "3"} Ordenes Facturadas
        %label Filtrar por:

    .row.card.container.modal#search_filter_orders{:style => "width: 800px; height:900px;"}
      = search_form_for @search do |f|
        .input-field{:class => "col s6"}
          = f.label :client_name_cont, "Cliente"
          = f.text_field :client_name_cont
        .input-field{:class => "col s6"}
          = f.label :patient_name_cont, "Paciente"
          = f.text_field :patient_name_cont
        .input-field{:class => "col s3"}
          = f.label :created_at_date_gequals, "Desde"
          = f.text_field :created_at_date_gequals,
                         :class => "datepicker_all"
        .input-field{:class => "col s3"}
          = f.label :created_at_date_lequals, "Hasta"
          = f.text_field :created_at_date_lequals,
                         :class => "datepicker_all"

        .input-field.col.s6
          %select
            %option{:disabled => "disabled", :selected => "selected", :value => ""} Elige el Estado
            %option{:value => "1"} Completada
            %option{:value => "2"} En Proceso
            %option{:value => "3"} Urgente
            %option{:value => "4"} En Prueba
            %option{:value => "5"} Nueva
            %option{:value => "6"} Anulada
            %option{:value => "7"} Facturada
          %label Estado

        = f.submit "Buscar", :class => "waves-effect waves-light btn blue",
                              :style => "left: 15px; bottom: 5px;"





  .row.container.card{:style => "margin: 0 auto;"}
    %table.centered.highlight#orders_t
      %thead
        %tr
          %th Referencia
          %th Cliente
          %th Fecha  de Entrada
          %th Fecha  de Entrega
          %th Estado
          %th Monto RD$
          -# %th Nota Del Cliente
          -# %th Otras Notas



      %tbody
        - @orders.each do |order|
          %tr
            %td= order.id
            %td= order.client_name
            %td= order.created_at.strftime("%F")
            %td= order.order_date
            %td= order.state
            %td 9.99
            -# %td= order.client_note
            -# %td= order.other_note



      -# %br
      -# .div
      -#   %ul.pagination{:style => "margin: 0 auto; text-align: right;"}
      -#     %li.disabled
      -#       %a{:href => "#!"}
      -#         %i.material-icons chevron_left
      -#     %li.active
      -#       %a{:href => "#!"} 1
      -#     %li.waves-effect
      -#       %a{:href => "#!"} 2
      -#     %li.waves-effect
      -#       %a{:href => "#!"} 3
      -#     %li.waves-effect
      -#       %a{:href => "#!"}
      -#         %i.material-icons chevron_right

  %br



.fixed-action-btn.horizontal.click-to-toggle{:style => "bottom: 45px; right: 24px;"}
  %a.btn-floating.btn-large.green
    %i.material-icons menu
  %ul
    %li
      %a.btn-floating.blue{onclick: "printpage()"}
        %i.material-icons print
    %li
      %a.btn-floating.purple.darken-1
        %i.material-icons email
  -# = link_to 'New Order', new_order_path
  -# END OF MAIN

  -# FOOTER

  %footer.page-footer
    = render :partial => 'layouts/footer'
  -# END OF FOOTER
