-# = form_for(@user) do |f|
-#   -# = render :partial => 'shared/errors', :locals => { :content => @user }
-#   .field
-#     = f.label :email, "Correo"
-#     %br/
-#     = f.email_field :email, autofocus: true
-#   .field
-#     = f.label :password, "Contraseña"
-#     %i (leave blank if you don't want to change it)
-#     %br/
-#     = f.password_field :password
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation
-#   .field
-#     = f.label :current_password
-#     %i (we need your current password to confirm your changes)
-#     %br/
-#     = f.password_field :current_password
-#   .actions
-#     = f.submit
-#
-#

.col.s12
  = form_for @user, url: users_admin_index_path(@user) do |f|
    - if @user.errors.any?
      #error_explanation
        -flash[:'notice'] = "Usuario no pudo ser guardado "
        -# %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
        -# %ul
        -#   - @client.errors.full_messages.each do |msg|
        -#     %li= msg

    .row.card.container.col.s12{:style => "margin: 0 auto;"}
      =image_tag "user.png", :style => "width: 250px; margin-left: 15px; margin-top: 15px;"
      .input-field.col.s6.right
        = f.select :role_level, options_for_select([["Elige Tipo de Usuario", ""], ["Administrador",1],["Despacho",2],["Social",3],["Tecnico",4]])



      .input-field{:class => "col s12 s12 s6"}
        %i.material-icons.prefix email
        %label{:for => "email"} E-mail
        = f.text_field :email,
          :id => 'email',
          :class=> 'validate',
          :type => 'email'
      .input-field{:class => "col s12 s12 s6"}
        %i.material-icons.prefix lock
        = f.label :password, "Contraseña"
        -# - if @minimum_password_length
          -# %em
          -#   (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .input-field{:class => "col s12 s12 s6"}
        %i.material-icons.prefix lock_outline
        = f.label :password_confirmation, "Confirmar Contraseña"
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"

    %br
    .actions.container{:style => "margin: 0 auto;"}

      %button.btn.waves-effect.waves-light{:name => "action", :type => "submit", data: { disable_with: "Procesando..." }}
        %i.material-icons.right save
        Crear

      %a{:href => users_admin_index_path, :class => "waves-effect waves-light btn blue"}
        %i.material-icons.right chevron_left
        Volver


:css
   .card{
      background-color: ghostwhite;
   //   border-radius: 30px;
    }
