%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h3.container{:style => "margin: 0 auto;"} Listado de Clientes
  %br
  .container{:style => "margin: 0 auto;"}
    %a{:href => new_client_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right add
      Nuevo Cliente
  %br
  %table.card.container{:style => "margin: 0 auto;", :class => "highlight"}
    %thead
      %tr
        %th Cliente
        %th Tel.:
        %th E-mail
        %th

    %tbody
      - @clients.each do |client|
        %tr
          %td= client.name
          %td= client.phone
          %td= client.email

          %td.btn-group
            %a{:href => client_path(client), :class => "waves-effect waves-light btn-floating blue tooltipped", "data-tooltip" => "Ver", "data-position" => "top"}
              %i.material-icons.right search

            %a{:href => edit_client_path(client), :class => "waves-effect waves-light btn-floating teal tooltipped", "data-tooltip" => "Editar", "data-position" => "top"}
              %i.material-icons.right mode_edit

            %button.btn.btn-floating.red.btn-sm.tooltipped{:type => "button", "data-tooltip" => "Eliminar", "data-position" => "right"}
              = link_to 'X', client_path(client), :method => :delete



  %br

  -# = link_to 'Back', clients_path
  -# = link_to 'New Client', new_client_path
-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
