%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h3.container{:style => "margin: 0 auto;"} Listado de Clientes
  %br

  .container{:style => "margin: 0 auto;"}
    %a{:href => new_client_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right add
      Nuevo Cliente
    %a.right.modal-trigger{:href =>"#search_filter_clients", :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right search
      Filtro

    .row.card.container.modal#search_filter_clients{:style => "margin: 0 auto;"}
      = search_form_for @search do |f|
        .input-field{:class => "col s6"}
          = f.label :name_cont, "Cliente"
          = f.text_field :name_cont
        %br
        = f.submit "Buscar", :class => "waves-effect waves-light btn blue",
                              :style => "left: 15px; bottom: 5px;"


  %br
  -# %table.card.container{:style => "margin: 0 auto;", :class => "highlight"}
  .row.container.card{:style => "margin: 0 auto;"}
    %table.centered.highlight#table_line
      %thead
        %tr
          %th Cliente
          %th Tel.:
          %th E-mail
          %th

      %tbody
        - @clients.each do |client|
          %tr
            %td= client.name
            %td= client.phone
            %td= client.email

            %td.btn-group
              %a{:href => client_path(client), :class => "waves-effect waves-light btn-floating blue tooltipped", "data-tooltip" => "Ver", "data-position" => "top"}
                %i.material-icons.right search

              %a{:href => edit_client_path(client), :class => "waves-effect waves-light btn-floating teal tooltipped", "data-tooltip" => "Editar", "data-position" => "top"}
                %i.material-icons.right mode_edit

              %button.btn.btn-floating.red.btn-sm.tooltipped{:type => "button", "data-tooltip" => "Eliminar", "data-position" => "right"}
                = link_to 'X', client_path(client), :method => :delete



      %br
        %ul.pagination.right{:style => "margin: 0 auto;"}
          = will_paginate @orders, previous_label: h("<"), next_label: h(">")

  -# = link_to 'Back', clients_path
  -# = link_to 'New Client', new_client_path
-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
