-# %p#notice= notice
-#
-#
-#
-# = link_to 'Edit', edit_client_path(@client)
-# \|
-# = link_to 'Back', clients_path



-# %p#notice= notice
-#

-# = link_to 'Edit', edit_order_path(@order)
-# \|
-# = link_to 'Back', orders_path
-#


%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %h3{:style => "text-align: center;"} Datos del Cliente

  .container.card{:style => "margin:0 auto;"}
    =image_tag "dentist_user.png", :style => "width: 250px; margin: 0 auto; display:block;"
    .div{:style => "margin-left: 15px;"}
      %p
        %b{:style => "display: block;"} Nombre del Cliente:
        = @client.name
      -#%p
      -#  %b{:style => "display: block;"} Tel.::
      -#  = @client.phone
      %p
        %b{:style => "display: block;"} Dirección:
        = @client.address
      -#%p
      -#  %b{:style => "display: block;"} E-Mail:
      -#  = @client.email
      %p
        %b{:style => "display: block;"} Correos:
        - @client.client_emails.each do |smail|
          %li= smail.email

      %p
        %b{:style => "display: block;"} Teléfonos:
        - @client.client_phones.each do |sphone|
          %li
            = sphone.ptype
            = sphone.phone

  %br
  %h4{:style => "text-align: center;"}
    Historial de Ordenes
  .row.container.card{:style => "margin: 0 auto;"}
    %table.centered.highlight#table_line
      %thead
        %tr
          -# %th Cliente
          %th Paciente
          %th Fecha  de Entrada
          %th Fecha  de Entrega
          %th Estado
          %th
          %th
          %th
          %th

      %tbody
        - @sales.each do |sale|
          %tr
            -# %td= sale.client.name
            %td= sale.patient_name
            %td= sale.created_at.strftime("%d/%m/%Y")
            %td= sale.order_date.strftime("%d/%m/%Y") if sale.order_date != nil
            - case sale.state.capitalize
              -when "En proceso"
                %td.chip.in_process{:style => "margin: 5px auto 5px 5px; display: block;"}= sale.state.capitalize
              -when "Urgente"
                %td.chip.in_urgent{:style => "margin: 5px auto 5px 5px; display: block;"}= sale.state.capitalize
              -when "En prueba"
                %td.chip.in_test_pending{:style => "margin: 5px auto 5px 5px; display: block;"}= sale.state.capitalize
              -when "Facturada - pendiente"
                %td.chip.in_test_pending{:style => "margin: 5px auto 5px 5px; display: block;"}= sale.state.capitalize
              -when "Facturada - pago"
                %td.chip.in_paid{:style => "margin: 5px auto 5px 5px; display: block;"}= sale.state.capitalize
              -when "Anulada"
                %td.chip.in_null{:style => "margin: 5px auto 5px 5px; display: block;"}= sale.state.capitalize
              -when "Cotizacion"
                %td.chip.in_null{:style => "margin: 5px auto 5px 5px; display: block;"}= sale.state.capitalize



            %td.btn-group
              %a{:href => sale_path(sale), :class => "waves-effect waves-light btn-floating blue tooltipped", "data-tooltip" => "Ver", "data-position" => "top"}
                %i.material-icons.right search


  
  -# CONTENT
  .container{:style => "margin-top: 10px;"}
    %a{:href => clients_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.left chevron_left
      Volver
    -# %a{:href => new_order_path, :class => "waves-effect waves-light btn blue right", :client => @client.id}
    -#   %i.material-icons.right chevron_right
    -#   Crear Nueva Orden
    %button.btn.blue.btn-sm.tooltipped.right{:type => "button", "data-tooltip" => "Crear Orden", "data-position" => "right"}
      = link_to(:controller => "sales", :action => "new", :client => @client.id) do
        = "<span style='color:white;'>Crear Nueva Orden</span>".html_safe
      %i.material-icons.right chevron_right

    -# - "<i class=' btn blue material-icons right'></i>".html_safe
    -# %i.material-icons.left chevron_left




  -#   = render :partial => 'layouts/tooth_chart'

-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
