- cont = 0
= f.fields_for :services do |s|
  - cont += 1
  .card.container#order_collection{:class => "col s12 m12 l6 box#{cont}"}
    .input-field{:style => 'margin-top: 5px;'}
      .left{:style => 'width: 4em; margin-bottom: -2em;'}
        -#= s.label :tooth_number, 'Selección'
        = s.text_field :tooth_number, :readonly => true, :id => "tooth_number#{cont}"
      .right
        %a.btn-floating.btn.waves-effect.waves-light.red{:id => "close_box#{cont}", "onClick"=>'close_box(this.id)'}
          %i.material-icons close

    .input-field{:style => "", :class => "col s12"}
      %br
        = image_tag "Tooth-icon.png", :style => "font-size:46px; width: 24px; margin-right: 24px;", :class => "material-icons"
        = s.check_box :antagonista
        = s.label :antagonista, "Antagonista", :style => "padding-right:15px;"
        = s.check_box :foto
        = s.label :foto, "Foto", :style => "margin-left: 52px;"
        %br
        = s.check_box :mordida
        = s.label :mordida, "Mordida", :style => "margin-left: 52px;"

    .input-field.col.s12
      %i.material-icons.prefix library_add
      = s.label :quantity, "Cantidad/Unidad"
      = s.number_field :quantity, :class => 'validate'


    .input-field{:class => "col m12 s6", :style => "margin-top: 0px"}
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Tipo de Trabajo
          .collapsible-body
            %p
              = s.check_box :corona, :onclick => "service_add(this.id, 0)"
              = s.label :corona, 'Corona'
              %br
              = s.check_box :puente, :onclick => "service_add(this.id, 0)"
              = s.label :puente, 'Puente'
              = s.text_field :puente_a, :style => 'height: 36px;width: 35px;margin-left: 33px;'
              ' a '
              = s.text_field :puente_b, :style => 'height: 36px;width: 35px;'
              %br
              = s.check_box :implante, :onclick => "service_add(this.id, 0)"
              = s.label :implante, 'implantes'
              %br
              = s.check_box :barra, :onclick => "service_add(this.id, 0)"
              = s.label :barra, 'Barra'
              %br
              = s.check_box :hibrida, :onclick => "service_add(this.id, 0)"
              = s.label :hibrida, 'Hibrida'
              %br
              = s.check_box :carilla, :onclick => "service_add(this.id, 0)"
              = s.label :carilla, 'Carilla'
              %br
              = s.check_box :in_onlay, :onclick => "service_add(this.id, 0)"
              = s.label :in_onlay, 'Inlay/Onlay'
              %br
              = s.check_box :inlay_bridge, :onclick => "service_add(this.id, 0)"
              = s.label :inlay_bridge, 'Inlay Bridge'
              %br
              = s.check_box :lente_contacto, :onclick => "service_add(this.id, 0)"
              = s.label :lente_contacto, 'Lente de Contacto'
              %br
              = s.check_box :perno, :onclick => "service_add(this.id, #{@price.first.perno_price})"
              = s.label :perno, 'Perno'
              %br
              = s.check_box :sold_laser, :onclick => "service_add(this.id, #{@price.first.soldadura_price})"
              = s.label :sold_laser, 'Soldadura Láser'



        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Material
          .collapsible-body
            %p
              = s.check_box :zirconio, :onclick => "service_add(this.id, #{@price.first.zirconio_price})"
              = s.label :zirconio, 'Zirconio'
              %br
              = s.check_box :disilicato, :onclick => "service_add(this.id, #{@price.first.disilicato_price})"
              = s.label :disilicato, 'Disilicato'
              %br
              = s.check_box :fedespatica, :onclick => "service_add(this.id, #{@price.first.fedespatica_price})"
              = s.label :fedespatica, 'Fedespática'
              %br
              = s.check_box :porcelana, :onclick => "service_add(this.id, #{@price.first.porcelana_price})"
              = s.label :porcelana, 'Porcelana'
              %br
              = s.check_box :pmma, :onclick => "service_add(this.id, #{@price.first.pmma_price})"
              = s.label :pmma, 'PMMA'
              %br
              = s.check_box :polimero, :onclick => "service_add(this.id, #{@price.first.polimero_price})"
              = s.label :polimero, 'Polímero'
              %br
              = s.check_box :composite, :onclick => "service_add(this.id, #{@price.first.composite_price})"
              = s.label :composite, 'Composite'
              %br
              = s.check_box :metal_porcelana, :onclick => "service_add(this.id, #{@price.first.metal_porcelana_price})"
              = s.label :metal_porcelana, 'Metal/Porcelana'
              %br
              = s.check_box :zirconio_porcelana, :onclick => "service_add(this.id, #{@price.first.zirconio_porcelana_price})"
              = s.label :zirconio_porcelana, 'Zirconio/Porcelana'
              %br
              = s.check_box :peek, :onclick => "service_add(this.id, #{@price.first.peek_price})"
              = s.label :peek, 'Peek'


        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Color de Muñon
          .collapsible-body
            %p
              = s.check_box :natural, :onclick => "service_add(this.id, 0)"
              = s.label :natural, 'Natural'
              %br
              = s.check_box :pimentado, :onclick => "service_add(this.id, 0)"
              = s.label :pimentado, 'Pimentado'
              %br
              = s.check_box :metal, :onclick => "service_add(this.id, 0)"
              = s.label :metal, 'Metal'


        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Color
          .collapsible-body{:style => "display: inline-block;"}
            %p
              = s.check_box :vita_classic, :onclick => "service_add(this.id, #{@price.first.vita_classic_price})"
              = s.label :vita_classic, 'Vita Classic'
              = s.text_field :vita_classic_text, :style => 'width:65px; margin-left:15px;'
              %br
              = s.check_box :vita_td, :onclick => "service_add(this.id, #{@price.first.vita_3d_price})"
              = s.label :vita_td, 'Vita 3D Master'
              = s.text_field :vita_3d_text, :style => 'width:65px; margin-left:15px;'
              %br
              = s.check_box :bioform, :onclick => "service_add(this.id, #{@price.first.bioform_price})"
              = s.label :bioform, 'Bioform'
              = s.text_field :bioform_text, :style => 'width:65px; margin-left:15px;'
              %br
              = s.check_box :chromarcop, :onclick => "service_add(this.id, #{@price.first.chromarcop_price})"
              = s.label :chromarcop, 'Chromarcop'
              = s.text_field :chromarcop_text, :style => 'width:65px; margin-left:15px;'
              %br
              = s.check_box :col_otras, :onclick => "service_add(this.id, #{@price.first.otras_price})"
              = s.label :col_otras, 'Otras'
              = s.text_field :col_otras_text, :style => 'width:65px; margin-left:15px;'



            -#%div.right
            -#  %select.icons
            -#    %option{:disabled => "disabled", :selected => "selected", :value => ""} A1
            -#    %option.circle{:value => "1", "data-icon" => "/assets/blue.png"} A2
            -#    %option.circle{:value => "2", "data-icon" => "/assets/red.png"} A3/A3.5
            -#    %option.circle{:value => "3", "data-icon" => "/assets/orange.png"} A4
            -#    %option.circle{:value => "4", "data-icon" => "/assets/orange.png"} B1
            -#    %option.circle{:value => "5", "data-icon" => "/assets/green.png"} B2
            -#    %option.circle{:value => "6", "data-icon" => "/assets/null.png"} ...
            -#  %label Otro Color


        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Procedimiento
          .collapsible-body
            %p
              = s.check_box :fresado_maquinado, :onclick => "service_add(this.id, 0)"
              = s.label :fresado_maquinado, 'Fresado Maquinado'
              %br
              = s.check_box :prensado, :onclick => "service_add(this.id, 0)"
              = s.label :prensado, 'Prensado'
              %br
              = s.check_box :colado, :onclick => "service_add(this.id, 0)"
              = s.label :colado, 'Colado'

        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Metales
          .collapsible-body
            %p
              = s.check_box :cromo_cobalto, :onclick => "service_add(this.id, 0)"
              = s.label :cromo_cobalto, 'Cromo Cobalto'
              %br
              = s.check_box :titanium, :onclick => "service_add(this.id, 0)"
              = s.label :titanium, 'Titanium'
              %br
              = s.check_box :cromo_niquel, :onclick => "service_add(this.id, 0)"
              = s.label :cromo_niquel, 'Cromo Niquel'
              %br
              = s.check_box :oro, :onclick => "service_add(this.id, 0)"
              = s.label :oro, 'Oro'
              %br
              = s.check_box :paladio, :onclick => "service_add(this.id, 0)"
              = s.label :paladio, 'Paladio'


    .input-field.col.s12#subtotal_price
      = s.label :service_total, 'Sub-Total RD$', :style => "color: #000000; font-size: 20px;"
      = s.number_field :service_total, :readonly => true,
                                       :id => "service_total_f#{cont}",
                                       :class => 'right'




