- cont = 0
= f.fields_for :services do |s|
  - cont += 1
  .card.container#order_collection{:class => "col s12 m12 l6 box#{cont}"}
    .input-fields{:style => 'margin-top: 5px;'}
      .left{:style => 'width: 4em;'}
        = s.label :tooth_number, 'Selección'
        = s.text_field :tooth_number, :disabled => true, :id => "tooth_number#{cont}"
      .right
        %a.btn-floating.btn.waves-effect.waves-light.red{:id => "close_box#{cont}", "onClick"=>'close_box(this.id)'}
          %i.material-icons close

    .input-fields{:style => "", :class => "col s12"}
      %br
        = image_tag "Tooth-icon.png", :style => "font-size:46px; width: 24px; margin-right: 24px;", :class => "material-icons"
        = s.check_box :antagonista
        = s.label :antagonista, "Antagonista", :style => "padding-right:15px;"
        = s.check_box :foto
        = s.label :foto, "Foto", :style => "margin-left: 52px;"
        %br
        = s.check_box :mordida
        = s.label :mordida, "Mordida", :style => "margin-left: 52px;"

    .input-field.col.s12
      %i.material-icons.prefix library_add
      = s.label :quantity, "Cantidad/Unidad"
      = s.number_field :quantity, :class => 'validate'


    .input-fields{:class => "col m12 s6"}
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Tipo de Trabajo
          .collapsible-body
            %p
              = s.check_box :corona
              = s.label :corona, 'Corona'
              %br
              = s.check_box :puente
              = s.label :puente, 'Puente'
              %br
              = s.check_box :implante
              = s.label :implante, 'implantes'
              %br
              = s.check_box :barra
              = s.label :barra, 'Barra'
              %br
              = s.check_box :hibrida
              = s.label :hibrida, 'Hibrida'
              %br
              = s.check_box :carilla
              = s.label :carilla, 'Carilla'
              %br
              = s.check_box :in_onlay
              = s.label :in_onlay, 'Inlay/Onlay'
              %br
              = s.check_box :inlay_bridge
              = s.label :inlay_bridge, 'Inlay Bridge'
              %br
              = s.check_box :lente_contacto
              = s.label :lente_contacto, 'Lente de Contacto'
              %br
              = s.check_box :perno
              = s.label :perno, 'Perno'
              %br
              = s.check_box :sold_laser
              = s.label :sold_laser, 'Soldadura Láser'



        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Material
          .collapsible-body
            %p
              = s.check_box :zirconio
              = s.label :zirconio, 'Zirconio'
              %br
              = s.check_box :disilicato
              = s.label :disilicato, 'Disilicato'
              %br
              = s.check_box :fedespatica
              = s.label :fedespatica, 'Fedespática'
              %br
              = s.check_box :porcelana
              = s.label :porcelana, 'Porcelana'
              %br
              = s.check_box :pmma
              = s.label :pmma, 'PMMA'
              %br
              = s.check_box :polimero
              = s.label :polimero, 'Polímero'
              %br
              = s.check_box :composite
              = s.label :composite, 'Composite'
              %br
              = s.check_box :metal_porcelana
              = s.label :metal_porcelana, 'Metal/Porcelana'
              %br
              = s.check_box :zirconio_porcelana
              = s.label :zirconio_porcelana, 'Zirconio/Porcelana'
              %br
              = s.check_box :peek
              = s.label :peek, 'Peek'


        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Color de Muñon
          .collapsible-body
            %p
              = s.check_box :natural
              = s.label :natural, 'Natural'
              %br
              = s.check_box :pimentado
              = s.label :pimentado, 'Pimentado'
              %br
              = s.check_box :metal
              = s.label :metal, 'Metal'


        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Color
          .collapsible-body{:style => "display: inline-block;"}
            %p
              = s.check_box :vita_classic
              = s.label :vita_classic, 'Vita Classic'
              = s.text_field :vita_classic_text
              %br
              = s.check_box :vita_3d
              = s.label :vita_3d, 'Vita 3D Master'
              = s.text_field :vita_3d_text
              %br
              = s.check_box :bioform
              = s.label :bioform, 'Bioform'
              = s.text_field :bioform_text
              %br
              = s.check_box :chromarcop
              = s.label :chromarcop, 'Chromarcop'
              = s.text_field :chromarcop_text
              %br
              = s.check_box :col_otras
              = s.label :col_otras, 'Otras'
              = s.text_field :col_otras_text



            -#%div.right
            -#  %select.icons
            -#    %option{:disabled => "disabled", :selected => "selected", :value => ""} A1
            -#    %option.circle{:value => "1", "data-icon" => "/assets/blue.png"} A2
            -#    %option.circle{:value => "2", "data-icon" => "/assets/red.png"} A3/A3.5
            -#    %option.circle{:value => "3", "data-icon" => "/assets/orange.png"} A4
            -#    %option.circle{:value => "4", "data-icon" => "/assets/orange.png"} B1
            -#    %option.circle{:value => "5", "data-icon" => "/assets/green.png"} B2
            -#    %option.circle{:value => "6", "data-icon" => "/assets/null.png"} ...
            -#  %label Otro Color


        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Procedimiento
          .collapsible-body
            %p
              = s.check_box :fresado_maquinado
              = s.label :fresado_maquinado, 'Fresado Maquinado'
              %br
              = s.check_box :prensado
              = s.label :prensado, 'Prensado'
              %br
              = s.check_box :colado
              = s.label :colado, 'Colado'

        %li
          .collapsible-header
            %i.material-icons> keyboard_arrow_right
            Metales
          .collapsible-body
            %p
              = s.check_box :cromo_cobalto
              = s.label :cromo_cobalto, 'Cromo Cobalto'
              %br
              = s.check_box :titanium
              = s.label :titanium, 'Titanium'
              %br
              = s.check_box :cromo_niquel
              = s.label :cromo_niquel, 'Cromo Niquel'
              %br
              = s.check_box :oro
              = s.label :oro, 'Oro'
              %br
              = s.check_box :paladio
              = s.label :paladio, 'Paladio'








