.nested-fields.collection-item.avatar
  %i.material-icons.circle.green.modal-trigger{:href => "#services_modal_s"} insert_chart
  %a
    Orden!
    .container.modal.modal-fixed-footer{:id => "services_modal_s"}
      .input-fields{:class => "col m6 s6"}
        = f.text_field :color, :placeholder => "Color"
      .input-fields{:class => "col m6 s6"}
        = f.number_field :cant, :placeholder => "Cantidad"
      .input-fields{:class => "col m3 s8"}
        %p
          Tipo de Trabajo
        = f.check_box :corona
        = f.label :corona, "Corona"
        %br/
        = f.check_box :puente
        = f.label :puente, "Puente"
        %br/
        = f.check_box :implante
        = f.label :implante, "Implantes"
        %br/
        = f.check_box :barra
        = f.label :barra, "Barra"
        %br/
        = f.check_box :hibrida
        = f.label :hibrida, "Híbrida"
        %br/
        = f.check_box :carilla
        = f.label :carilla, "Carilla"
        %br/
        = f.check_box :in_onlay
        = f.label :in_onlay, "Inlay/Onlay"
        %br/
        = f.check_box :inlay_bridge
        = f.label :inlay_bridge, "Inlay Bridge"
        %br/
        = f.check_box :lente_contacto
        = f.label :lente_contacto, "Lente de contacto"
        %br/
        = f.check_box :perno
        = f.label :perno, "Perno"
        %br/
        = f.check_box :sold_laser
        = f.label :sold_laser, "Soldadura Laser"
      .input-fields{:class => "col m3 s8"}
        %p
          Colorímetro
        = f.check_box :vita_classic
        = f.label :vita_classic, "Vita Classic"
        %br/
        = f.check_box :vita_3d
        = f.label :vita_3d, "Vita 3D master"
        %br/
        = f.check_box :bioform
        = f.label :bioform, "Bioform"
        %br/
        = f.check_box :chromarcop
        = f.label :chromarcop, "Chromarcop"
        %br/
        = f.check_box :col_otras
        = f.label :col_otras, "Otras ?"
      .input-fields{:class => "col m3 s8"}
        %p
          Material
        = f.check_box :zirconio
        = f.label :zirconio, "Zirconio"
        %br/
        = f.check_box :disilicato
        = f.label :disilicato, "Disilicato"
        %br/
        = f.check_box :fedespatica
        = f.label :fedespatica, "Fedespática"
        %br/
        = f.check_box :porcelana
        = f.label :porcelana, "Porcelana"
        %br/
        = f.check_box :pmma
        = f.label :pmma, "PMMA"
        %br/
        = f.check_box :polimero
        = f.label :polimero, "Polímero"
        %br/
        = f.check_box :composite
        = f.label :composite, "Composite"
        %br/
        = f.check_box :metal_porcelana
        = f.label :metal_porcelana, "Metal/Pocelana"
        %br/
        = f.check_box :zirconio_porcelana
        = f.label :zirconio_porcelana, "Zirconio/Porcelana"
        %br/
        = f.check_box :peek
        = f.label :peek, "Peek"
      .input-fields{:class => "col m3 s8"}
        %p
          Color de Muñon
        = f.check_box :natural
        = f.label :natural, "Natural"
        %br/
        = f.check_box :pimentado
        = f.label :pimentado, "Pimentado"
        %br/
        = f.check_box :metal
        = f.label :metal, "Metal"
      .input-fields{:class => "col m3 s8"}
        %p
          Procedimiento
        = f.check_box :fresado_maquinado
        = f.label :fresado_maquinado, "Fresado/Maquinado"
        %br/
        = f.check_box :prensado
        = f.label :prensado, "Prensado"
        %br/
        = f.check_box :colado
        = f.label :colado, "Colado"
      .input-fields{:class => "col m3 s8"}
        %p
          Metales
        = f.check_box :cromo_cobalto
        = f.label :cromo_cobalto, "Cromo Cobalto"
        %br/
        = f.check_box :titanium
        = f.label :titanium, "Titanium"
        %br/
        = f.check_box :cromo_niquel
        = f.label :cromo_niquel, "Cromo níquel"
        %br/
        = f.check_box :oro
        = f.label :oro, "Oro"
        %br/
        = f.check_box :paladio
        = f.label :paladio, "Paladio"

      .modal-footer
        %a.modal-action.modal-close.waves-effect.waves-green.btn-flat.left{:href => "#!"}
          Limpiar
        %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"}
          Agregar
          %i.material-icons{:class => "small"} send



    %p.secondary-content
      = link_to_remove_association "Remove", f, class: "form-button btn btn-default"


-# %a.collection-item.avatar.modal-trigger{:href => "#services_modal"}
-#   %img.circle{:alt => "", :src => "assets/eu-tooth.png"}
-#   .nested_fields
-#     .fields
-#       = f.check_box :coronoa
-#       = f.label :coronoa
-#     -# %span.title Title
-#     -# %p
-#     -#   First Line
-#     -#   %br/
-#     -#   Second Line
-#     -# %p.secondary-content
-#     -#   $0.00
-#     = link_to_remove_association "remove service", f
-#


-# %i.material-icons.left{:style => "color: gray; font-size:40px;"} add
:javascript
  $('.modal-trigger').leanModal();
