.input-fields{:style => "", :class => "col s12"}
  %br
    =image_tag "Tooth-icon.png", :style => "font-size:46px; width: 24px; margin-right: 24px;", :class => "material-icons"
    = f.check_box :antagonista
    = f.label :antagonista, "Antagonista", :style => "padding-right:15px;"
    = f.check_box :foto
    = f.label :foto, "Foto", :style => "margin-left: 52px;"
    %br
    = f.check_box :mordida
    = f.label :mordida, "Mordida", :style => "margin-left: 52px;"

.input-field.col.s12
  %i.material-icons.prefix library_add
  = f.label :quantity, "Cantidad/Unidad"
  = f.number_field :quantity, :class => 'validate'
.input-field
  = f.hidden_field :state


.input-fields{:class => "col m12 s6"}
  %ul.collapsible{"data-collapsible" => "accordion"}
    %li
      .collapsible-header
        %i.material-icons> keyboard_arrow_right

        Tipo de Trabajo
      .collapsible-body
        %p
          - Item.where(category_id: 1).find_each do |item|
            %br
            = radio_button_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item), name: 'g1'
            = label_tag dom_id(item), item.name
            -# RD$
            -# = label_tag dom_id(item), item.price
    %li
      .collapsible-header
        %i.material-icons> keyboard_arrow_right
        Material
      .collapsible-body
        %p
          -# = hidden_field_tag "order[item_ids][]", nil
          - Item.where(category_id: 2).find_each do |item|
            %br
            = radio_button_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item), name: 'g2'
            = label_tag dom_id(item), item.name
            -# RD$
            -# = label_tag dom_id(item), item.price
    %li
      .collapsible-header
        %i.material-icons> keyboard_arrow_right
        Color de Muñon
      .collapsible-body
        %p
          - Item.where(category_id: 3).find_each do |item|
            %br
            = radio_button_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item), name: 'g3'
            = label_tag dom_id(item), item.name
            -# RD$
            -# = label_tag dom_id(item), item.price
    %li
      .collapsible-header
        %i.material-icons> keyboard_arrow_right
        Color
      .collapsible-body{:style => "display: inline-block;"}
        %p
          - Item.where(category_id: 4).find_each do |item|
            %br
            = radio_button_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item), name: 'g4'
            = label_tag dom_id(item), item.name
            -# RD$
            -# = label_tag dom_id(item), item.price
        %div.right
          %select.icons
            %option{:disabled => "disabled", :selected => "selected", :value => ""} A1
            %option.circle{:value => "1"} A2
            %option.circle{:value => "2"} A3/A3.5
            %option.circle{:value => "3"} A4
            %option.circle{:value => "4"} B1
            %option.circle{:value => "5"} B2
            %option.circle{:value => "6"} ...
          %label Otro Color


    %li
      .collapsible-header
        %i.material-icons> keyboard_arrow_right
        Procedimiento
      .collapsible-body
        %p
          Procedimiento
          - Item.where(category_id: 5).find_each do |item|
            %br
            = radio_button_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item), name: 'g5'
            = label_tag dom_id(item), item.name
            -# RD$
            -# = label_tag dom_id(item), item.price
    %li
      .collapsible-header
        %i.material-icons> keyboard_arrow_right
        Metales
      .collapsible-body
        %p
          - Item.where(category_id: 6).find_each do |item|
            %br
            = radio_button_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item), name: 'g6'
            = label_tag dom_id(item), item.name
            -# RD$
            -# = label_tag dom_id(item), item.price
