.row.card.container{:style => "margin: 0 auto;"}
  .right{:style => "padding-right:15px;"}
    .input-fields.right
      %br/
      = f.check_box :coti
      = f.label :coti, "Cotización"
  %br/
  %br/

  .input-field{:class => "col s12 m6", :style => "margin-top: 0px;"}
    -# %i.material-icons.prefix person_pi
    -# = f.label :client_id
    -# = f.collection_select :client_id, Client.order(:name),:id,:name, include_blank: false, prompt: 'Seleccionar Cliente'
    -# = f.select(:client_id, @clients.collect {|p| [ p.name, p.id ] }, {include_blank: false, prompt: 'Seleccionar Cliente'}, :id => "e1", :class => "js-example-responsive", :style => "width: 100%;")
    - if params[:client]
      = f.label "Cliente"
      = f.text_field :client_id, value: Client.find(params[:client]).name
    - else
      = f.select(:client_id, @clients.collect {|p| [ p.name, p.id ] }, {include_blank: false, prompt: 'Seleccionar Cliente'}, :id => "e1", :class => "js-example-responsive", :style => "width: 100%;")

  - 3.times do
    %br

  %hr.style17
  -# .file-field.input-field{:class => "col s12 m6"}
  -#   .btn.modal-trigger{:href =>"#clients_modal"}
  -#     %span
  -#       %i.material-icons.prefix person_pin
  -#   .file-path-wrapper
  -#     %input.file-path.validate{:disabled => true, :placeholder => "Seleccionar Cliente", :type => "text"}

  -# .row.card.container.modal#clients_modal{:style => "margin: 0 auto; width: 1024px; height:800px; overflow-y: initial;"}
    -# .input-field.col.s12
    -#   = f.collection_select :client_id, Client.order(:name),:id,:name, include_blank: false, prompt: 'Seleccionar Cliente'
    -#
    -# %table{:style => "col s12", :class => "highlight"}
    -#   %thead
    -#     %tr
    -#       %th Cliente
    -#
    -#   %tbody
    -#     - @clients.each do |c|
    -#       %tr
    -#         %td= c.name
    -#         %td
    -#           .btn Seleccionar


  .input-field{:class => "col s12 m6", :style => ""}
    %i.material-icons.prefix account_circle
    = f.label :patient_name, "Nombre del Paciente"
    = f.text_field :patient_name

  .input-field{:class => "col s12 m6 s12"}
    %i.material-icons.prefix perm_identity
    = f.label :age, "Edad"
    = f.number_field :age, :class => 'validate'

  .input-field{:class => "col s12 m6"}
    %i.material-icons.prefix tag_faces
    = f.radio_button :sex, 'Femenino'
    = f.label :sex, 'Femenino', :value => 'Femenino'
    = f.radio_button :sex, 'Masculino'
    = f.label :sex, 'Masculino', :value => 'Masculino'

  .input-field{:class => "col s12 m6 s12"}
    %i.material-icons.prefix today
    = f.label :order_date, "Fecha de Entrega"
    = f.text_field :order_date,
      :class => "datepicker"

  -# .input-fields.left{:style => "padding-left:15px;", :class => "col s12 m6"}
  -#   %br
  -#     =image_tag "Tooth-icon.png", :style => "font-size:46px; width: 24px; margin-right: 24px;", :class => "material-icons"
  -#     = f.check_box :antagonista
  -#     = f.label :antagonista, "Antagonista", :style => "padding-right:15px;"
  -#     = f.check_box :foto
  -#     = f.label :foto, "Foto", :style => "margin-left: 52px;"
  -#     %br/
  -#     = f.check_box :mordida
  -#     = f.label :mordida, "Mordida", :style => "margin-left: 52px;"
  -#
  -# - 4.times do
  -#   %br


    %br
    %br

  -#= f.fields_for :services do |s|
  -#  = s.check_box :corona
  -#  = s.label :corona

  %div.col.s12
    .input-field.col.s6#textarea1
      %i.material-icons.prefix mode_edit
      = f.label :client_note, "Notas del Cliente"
      = f.text_area :client_note,
        :class => "materialize-textarea"

    .input-field.col.s6
      %i.material-icons.prefix mode_edit
      = f.label :other_note, "Otras Notas"
      = f.text_area :other_note,
        :class => "materialize-textarea"
