.row.card.container{:style => "margin: 0 auto;"}
  %div{:class => "col s12 m6"}
    = render :partial => 'layouts/tooth_chart'
    = render 'tooth_fields', :f => f


  .container.right#order_collection{:class => "col s12 m4"}

    .input-fields{:style => "", :class => "col s12"}
      %br
        =image_tag "Tooth-icon.png", :style => "font-size:46px; width: 24px; margin-right: 24px;", :class => "material-icons"
        = f.check_box :antagonista
        = f.label :antagonista, "Antagonista", :style => "padding-right:15px;"
        = f.check_box :foto
        = f.label :foto, "Foto", :style => "margin-left: 52px;"
        %br
        = f.check_box :mordida
        = f.label :mordida, "Mordida", :style => "margin-left: 52px;"

    .input-field.col.s12
      %i.material-icons.prefix library_add
      = f.label :quantity, "Cantidad/Unidad"
      = f.number_field :quantity, :class => 'validate'
    .input-field
      = f.hidden_field :state




    .input-fields{:class => "col m12 s6"}
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            %i.material-icons> filter_drama
            Tipo de Trabajo
          .collapsible-body
            %p
              - Item.where(category_id: 1).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> place
            Material
          .collapsible-body
            %p
              = hidden_field_tag "order[item_ids][]", nil
              - Item.where(category_id: 2).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> whatshot
            Color de Muñon
          .collapsible-body
            %p
              - Item.where(category_id: 3).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> whatshot
            Color
          .collapsible-body
            %p
              - Item.where(category_id: 4).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> repeat
            Procedimiento
          .collapsible-body
            %p
              Procedimiento
              - Item.where(category_id: 5).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> label_outline
            Metales
          .collapsible-body
            %p
              - Item.where(category_id: 6).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price



%br



:css
  .card{
      background-color: ghostwhite;
  //    border-radius: 30px;
    }
  td {
  //  white-space: pre;

  }

:javascript
  $( document ).ready(function(){
    document.getElementById("step_1").classList.add("complete");
    });
  $('.modal-trigger').leanModal();

  (function ()
    {
      for(i=1; i<33; i++) {
        if(document.getElementById("t"+i).value != 'null'){var z = document.getElementById("t"+i).value;}
        //var z = document.getElementById("t"+i).value;
        if (String(z) == 1) {$("#Tooth"+i).css({ fill: "lightskyblue" });}

      }
    z = null;
    i = 1;

    })();
