.row.card.container{:style => "margin: 0 auto;"}
  %div{:class => "col s6 m6 s12"}
    = render :partial => 'layouts/tooth_chart'


  .container.right#order_collection{:class => "col s6 m6 s12"}
    -# %ul.collection
    -#   = f.fields_for :items do |item|
    -#     = render 'item_fields', f: item
    -#   .links
    -#     = link_to_add_association 'Agregar', f, :items, class: "btn"
    -#     .collection.right
    -#       %a.collection-item.modal-trigger{:href => "#details_modal"} $0.00


    .input-fields{:class => "col m12 s6"}
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            %i.material-icons> filter_drama
            Tipo de Trabajo
          .collapsible-body
            %p
              - Item.where(category_id: 1).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> place
            Material
          .collapsible-body
            %p
              = hidden_field_tag "order[item_ids][]", nil
              - Item.where(category_id: 2).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> whatshot
            Color de Muñon
          .collapsible-body
            %p
              - Item.where(category_id: 3).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> whatshot
            Color
          .collapsible-body
            %p
              - Item.where(category_id: 4).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> repeat
            Procedimiento
          .collapsible-body
            %p
              Procedimiento
              - Item.where(category_id: 5).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price
        %li
          .collapsible-header
            %i.material-icons> label_outline
            Metales
          .collapsible-body
            %p
              - Item.where(category_id: 6).find_each do |item|
                %br
                = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
                = label_tag dom_id(item), item.name
                RD$
                = label_tag dom_id(item), item.price



%br



:css
  .card{
      background-color: ghostwhite;
  //    border-radius: 30px;
    }
  td {
  //  white-space: pre;

  }

:javascript
  $( document ).ready(function(){
    document.getElementById("step_1").classList.add("complete");
    });
  $('.modal-trigger').leanModal();
