-# .card.container{:style => "margin: 0 auto;"}
.row.container
  .card.left#chart_container{:class => "col s12 m12 l6"}
    -# %div{:class => "col s12 m6"}
    = render :partial => 'layouts/tooth_chart'
    = render 'tooth_fields', :f => f
    .input-field.col.s12#total_price
      = f.label :total_price, 'Total RD$', :style => "color: #000000; font-size: 25px;"
      = f.text_field :total_price, :disabled => true,
                                     :id => 'total_price_f',
                                     :class => 'right'





  -#  = render 'services_component', :f => f

  -#.card.container.right#order_collection{:class => "col s12 m12 l6"}
  = render 'services_section', :f => f
  -#= render 'services_component', :f => f

  .input-field
    = f.hidden_field :state


  %br


:css
  .card{
      background-color: ghostwhite;
    }


:javascript
  $( document ).ready(function(){
    document.getElementById("step_1").classList.add("complete");
    });
  $('.modal-trigger').leanModal();

  /*refill function for each tooth in the chart verify if value is equal to 1 and fill the color*/
  (function ()
    {
      for(i=1; i<33; i++) {
        if(document.getElementById("t"+i).value != 'null'){var z = document.getElementById("t"+i).value;}
        //var z = document.getElementById("t"+i).value;
        if (String(z) == 1) {$("#Tooth"+i).css({ fill: "lightskyblue" });}

      }
    z = null;
    i = 1;

    })();
