= f.hidden_field :t1, :id => 't1'
= f.hidden_field :t2, :id => 't2'
= f.hidden_field :t3, :id => 't3'
= f.hidden_field :t4, :id => 't4'
= f.hidden_field :t5, :id => 't5'
= f.hidden_field :t6, :id => 't6'
= f.hidden_field :t7, :id => 't7'
= f.hidden_field :t8, :id => 't8'
= f.hidden_field :t9, :id => 't9'
= f.hidden_field :t10, :id => 't10'
= f.hidden_field :t11, :id => 't11'
= f.hidden_field :t12, :id => 't12'
= f.hidden_field :t13, :id => 't13'
= f.hidden_field :t14, :id => 't14'
= f.hidden_field :t15, :id => 't15'
= f.hidden_field :t16, :id => 't16'
= f.hidden_field :t17, :id => 't17'
= f.hidden_field :t18, :id => 't18'
= f.hidden_field :t19, :id => 't19'
= f.hidden_field :t20, :id => 't20'
= f.hidden_field :t21, :id => 't21'
= f.hidden_field :t22, :id => 't22'
= f.hidden_field :t23, :id => 't23'
= f.hidden_field :t24, :id => 't24'
= f.hidden_field :t25, :id => 't25'
= f.hidden_field :t26, :id => 't26'
= f.hidden_field :t27, :id => 't27'
= f.hidden_field :t28, :id => 't28'
= f.hidden_field :t29, :id => 't29'
= f.hidden_field :t30, :id => 't30'
= f.hidden_field :t31, :id => 't31'
= f.hidden_field :t32, :id => 't32'
