%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h3.container{:style => "margin: 0 auto;"} Consultar Ordenes
  %br

  .container{:style => "margin: 0 auto;"}
    %a{:href => new_order_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right add
      Nueva Orden
    %a.right.modal-trigger{:href =>"#search_filter_orders", :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right search
      Filtro


  .row.card.container.modal#search_filter_orders{:style => "width: 800px; height:900px;"}
    = search_form_for @search do |f|
      .input-field{:class => "col s6"}
        = f.label :client_name_cont, "Cliente"
        = f.text_field :client_name_cont
      .input-field{:class => "col s6"}
        = f.label :patient_name_cont, "Paciente"
        = f.text_field :patient_name_cont
      .input-field{:class => "col s3"}
        = f.label :created_at_date_gequals, "Desde"
        = f.text_field :created_at_date_gequals,
                       :class => "datepicker_all"
      .input-field{:class => "col s3"}
        = f.label :created_at_date_lequals, "Hasta"
        = f.text_field :created_at_date_lequals,
                       :class => "datepicker_all"
      .input-field.col.s6
        = f.select( :state_cont, options_for_select([[""],
                                                ["En Proceso", {class: 'circle'}],
                                                ["Urgente", {class: 'circle'}],
                                                ["En Prueba", {class: 'circle'}],
                                                ["Facturada - Pendiente", {class: 'circle'}],
                                                ["Facturada - Pago", {class: 'circle'}],
                                                ["Anulada", {class: 'circle'}]],
                                                disabled: "Elige el Estado"), class: "browser-default" )

      -#
      -#.input-field.col.s6
      -#  %select.icons
      -#    %option{:disabled => "disabled", :selected => "selected", :value => ""} Elige el Estado
      -#    %option.circle{:value => "1", "data-icon" => "/assets/blue.png"} En Proceso
      -#    %option.circle{:value => "2", "data-icon" => "/assets/red.png"} Urgente
      -#    %option.circle{:value => "3", "data-icon" => "/assets/orange.png"} En Prueba
      -#    %option.circle{:value => "4", "data-icon" => "/assets/orange.png"} Facturada - Pendiente
      -#    %option.circle{:value => "5", "data-icon" => "/assets/green.png"} Facturada - Pago
      -#    %option.circle{:value => "6", "data-icon" => "/assets/null.png"} Anulada
      -#  %label Estado



      = f.submit "Buscar", :class => "waves-effect waves-light btn blue",
                            :style => "left: 15px; bottom: 5px;"


  %br


  .row.container.card{:style => "margin: 0 auto;"}
    %table.centered.highlight#table_line
      %thead
        %tr
          %th Cliente
          %th Paciente
          %th Fecha  de Entrada
          %th Fecha  de Entrega
          %th Estado
          %a.btn.purple.right{onclick: "printpage()"}
            %i.material-icons print
          -# %th Nota Del Cliente
          -# %th Otras Notas



      %tbody
        - @orders.each do |order|
          %tr
            %td{:style => "text-align: justify;"}= order.client_name
            %td= order.patient_name
            %td= order.created_at.strftime("%F")
            %td= order.order_date
            -case order.state.capitalize
              -when "En proceso"
                %td.chip.in_process{:style => "margin: 5px auto 5px 5px; display: block;"}= order.state.capitalize
              -when "Urgente"
                %td.chip.in_urgent{:style => "margin: 5px auto 5px 5px; display: block;"}= order.state.capitalize
              -when "En prueba"
                %td.chip.in_test_pending{:style => "margin: 5px auto 5px 5px; display: block;"}= order.state.capitalize
              -when "Facturada - pendiente"
                %td.chip.in_test_pending{:style => "margin: 5px auto 5px 5px; display: block;"}= order.state.capitalize
              -when "Facturada - pago"
                %td.chip.in_paid{:style => "margin: 5px auto 5px 5px; display: block;"}= order.state.capitalize
              -when "Anulada"
                %td.chip.in_null{:style => "margin: 5px auto 5px 5px; display: block;"}= order.state.capitalize
              -when "Cotizacion"
                %td.chip.in_null{:style => "margin: 5px auto 5px 5px; display: block;"}= order.state.capitalize





            -# %td= order.client_note
            -# %td= order.other_note

            %td.btn-group
              %a{:href => order_path(order), :class => "waves-effect waves-light btn-floating blue tooltipped", "data-tooltip" => "Ver", "data-position" => "top"}
                %i.material-icons.right search
              - if current_user.role_level == 1
                -#%a{:href => edit_order_path(order), :class => "waves-effect waves-light btn-floating teal tooltipped", "data-tooltip" => "Editar", "data-position" => "top"}
                -#  %i.material-icons.right mode_edit
                %button.btn.btn-floating.red.btn-sm.tooltipped{:type => "button", "data-tooltip" => "Eliminar", "data-position" => "right"}
                  = link_to 'X', order_path(order), :method => :delete, :style => "color: white;"

      %br
      .div

      %ul.pagination.right{:style => "margin: 0 auto; text-align: right;"}
        = will_paginate @orders
        -#   %li.disabled
        -#     %a{:href => "#!"}
        -#       %i.material-icons chevron_left
        -#   %li.active
        -#     %a{:href => "#!"} 1
        -#   %li.waves-effect
        -#     %a{:href => "#!"} 2
        -#   %li.waves-effect
        -#     %a{:href => "#!"} 3
        -#   %li.waves-effect
        -#     %a{:href => "#!"}
        -#       %i.material-icons chevron_right

  %br

-# =image_tag "blue.png"

  -#.fixed-action-btn.horizontal.click-to-toggle{:style => "bottom: 45px; right: 24px;"}
  -#  %a.btn-floating.btn-large.green
  -#    %i.material-icons menu
  -#  %ul
  -#    %li
  -#      %a.btn-floating.blue{onclick: "printpage()"}
  -#        %i.material-icons print

  -# = link_to 'New Order', new_order_path
  -# END OF MAIN

  -# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
