%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  -# %h1{:style => "text-align: center;"} Ver Datos

  -# = render 'wizard_steps'
  %br
  %h3{:style => "margin: 0 auto; text-align: center;"}
    -# %i.material-icons{:style => "margin: 8px; font-size:46px;"} check
    Detalles de la Orden
  %br

  .card.container.col.s6{:style => "text-align: right;"}
    -# %b Estado:
    -# = @order.state.capitalize

    -# = f.select :role_level, options_for_select([["Elige Tipo de Usuario", ""], ["Administrador",1],["Despacho",2],["Social",3],["Tecnico",4]])


  .card.container.row{:style => "margin: 0 auto; font-size: x-large;"}
    .div.col.s12
      .col.s8.row
        = form_for(@order, remote: true, html: {id: "status-update"}) do |f|
          .input-field.col.s6
            = f.select :state, options_for_select([["Elige el Estado"],
                                                    ["En Proceso", {class: 'circle'}],
                                                    ["Urgente", {class: 'circle'}],
                                                    ["En Prueba", {class: 'circle'}],
                                                    ["Facturada - Pendiente", {class: 'circle'}],
                                                    ["Facturada - Pago", {class: 'circle'}],
                                                    ["Anulada", {class: 'circle'}]],
                                                    disabled: "Elige el Estado"), class: "browser-default"

            .input-field#order_null_concept
              -#= f.label :null_contept, "Concepto por Anulación"
              = f.text_area :null_concept, :placeholder => 'Concepto por Anulación',
                :class => "materialize-textarea"
            .input-field
              = f.label :partial_pay, 'Abono'
              = f.number_field :partial_pay


          .col.s2
            %button.btn.waves-effect.waves-light{:style => "height: 49px; top: 23px;", :name => "action", :type => "submit"}
              %i.material-icons.right{:style => "margin-left: 0px; padding-top: 4px; font-size:50px;"} check

            -# %select.icons
          -#   %option{:disabled => "disabled", :selected => "selected", :value => ""} Elige el Estado
          -#   %option.circle{:value => "1", "data-icon" => "/assets/blue.png"} En Proceso
          -#   %option.circle{:value => "2", "data-icon" => "/assets/red.png"} Urgente
          -#   %option.circle{:value => "3", "data-icon" => "/assets/orange.png"} En Prueba
          -#   %option.circle{:value => "4", "data-icon" => "/assets/orange.png"} Facturada - Pendiente
          -#   %option.circle{:value => "5", "data-icon" => "/assets/green.png"} Facturada - Pago
          -#   %option.circle{:value => "6", "data-icon" => "/assets/null.png"} Anulada
      .div#order-status
        = render 'order_status'



    -# .row
    -#   .col.s12
    -#     %ul.tabs
    -#       %li.tab.col.s3
    -#         %a.active{:href => "#test1"} Datos de la Orden
    -#       %li.tab.col.s3
    -#         %a{:href => "#test2"} Datos del Cliente
    -#       -# %li.tab.col.s3.disabled
    -#       -#   %a{:href => "#test3"} Disabled Tab
    -#       %li.tab.col.s3
    -#         %a{:href => "#test4"} Notas
    -#   #test1.col.s12 Test 1
    -#   #test2.col.s12 Test 2
    -#   -# #test3.col.s12 Test 3
    -#   #test4.col.s12 Test 4

    %p.col.s6.margin-f
      %b Cliente:
      -#= @order.client_name
      = link_to "#{@order.client_name}", client_path(@order.client_id)
    -#%p.col.s6.margin-f
    -#  %b E-Mail:
        -#= @order.client_email
    %p.col.s6.margin-f
      %b Fecha de Entrada:
      = @order.created_at.strftime("%F")
    %p.col.s6.margin-f
      %b Fecha de Entrega:
      = @order.order_date
    %p.col.s6.margin-f
      %b Edad:
      = @order.age
    %p.col.s6.margin-f
      %b Sexo:
      = @order.sex
    %p.col.s6.margin-f
      %b Notas del Cliente:
      = @order.client_note
    %p.col.s6.margin-f
      %b Otras Notas:
      = @order.other_note
    %p.col.s6.margin-f
      %b Referencia:
      = @order.id
    %p.col.s6.margin-f
      %b Paciente:
      = @order.patient_name
    .row.col.s12{:style => "text-align: center;"}


      -#Modificar esto: correos desabilitados temporalmente

      %p.col.s6.m4.tooltipped.modal-trigger{:href =>"#stickers_modal", :style => "color: lightcoral;", "data-tooltip" => "Imprimir Label", "data-position" => "bottom"}
        = image_tag "Paper-100.png", :id => "show_icons"
      -#%p.col.s6.m4.tooltipped.modal-trigger{:href =>"#email_modal", :style => "color: darkseagreen;", "data-tooltip" => "Enviar Correo", "data-position" => "bottom"}
      -#  = image_tag "Message-Filled-100.png", :id => "show_icons"
      %p.col.s6.m4.tooltipped.modal-trigger{:href =>"#order_tooth_modal",:style => "color: lightseagreen;", "data-tooltip" => "Ver Orden de Trabajo", "data-position" => "bottom"}
        = image_tag "Teeth-100.png", :id => "show_icons"

  .row.container.modal.bottom-sheet.col.s12#stickers_modal
    %div.col.s4.tooltipped{"data-tooltip" => "Circular", "data-position" => "top"}
      = link_to((image_tag "circle_sticker.png", :id => "stickers"), {:controller => :orders, :action => :label_print, :format => 'pdf'}, target: '_blank')
    %div.col.s4.tooltipped{"data-tooltip" => "5.0''x3.5''", "data-position" => "top"}
      = link_to((image_tag "large_sticker.png", :id => "stickers"), {:controller => :orders, :action => :label_print, :format => 'pdf'}, target: '_blank')
    %div.col.s4.tooltipped{"data-tooltip" => "1.1''x3.5''", "data-position" => "top"}
      = link_to((image_tag "regular_sticker.png", :id => "stickers"), {:controller => :orders, :action => :label_print, :format => 'pdf'}, target: '_blank')


  .row.card.container.modal.modal-fixed-footer#email_modal{:style => "width: 1024px; height:800px; overflow-y: initial;"}
    .input-field.col.s12
      %input#email.validate{:placeholder => "mail@mail.com", :type => "email", :id => "email", :value => "#{@order.client_email}"}/
      %label{:for => "email"} Para
    .input-field.col.s12
      %input#subject.validate{:placeholder => "Asunto", :type => "text"}/
      %label{:for => "subject"} Asunto
    %br
    .file-field.input-field.col.s12
      .btn
        %span Elegir
        %input{:type => "file"}/
      .file-path-wrapper
        %input.file-path.validate{:type => "text"}/
    .input-field.col.s12
      %textarea#message.materialize-textarea{:length => "240"}
      %label{:for => "message"} Mensaje
    .modal-footer
      %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Enviar

  .row.card.container.modal.modal-fixed-footer#order_tooth_modal{:style => "width: 1024; overflow-y: initial;"}
    .left.col.s8
      = render 'order_tooth'
      = render 'tooth_refill'
    -#%div.col.s4
    -#  Tipo de Trabajo
    -#  %ul
    -#    - @order.services.each do |s|
    -#      - if s.quantity != nil
    -#        %li
    -#          Seleccion:
    -#          = s.id
    -#        %br
    -#        %li
    -#          Cantidad/Unidad:
    -#          = s.quantity





    .modal-footer
      %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"}
        %i.material-icons{:style => "font-size:47px;", :id => "show_icons_only"} print



  -# CONTENT
  .container
    %br
    %a{:href => orders_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right exit_to_app
      Salir
    - if current_user.role_level <= 2
      = link_to '<i class="material-icons" style="font-size: 2.3rem;">print</i>'.html_safe, order_path(@order, format: 'pdf'), class: "col s6 m3 right btn green", :target => "_blank", :data => { :reload => true}


-# END OF MAIN


-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
-#
:javascript
  //Function to enable/disable concept description for canceling of orders
  $(document).ready(function(){
    if($("textarea#order_null_concept").val() == "")
    {
      $("#order_null_concept").hide();

    }
    else
    {
      $("#order_null_concept").show();

    }
    $('#order_state').on('change', function() {
      if ( this.value == 'Anulada')
      {
        $("#order_null_concept").show();

      }
      else
      {
        $("#order_null_concept").hide();

      }
    });
  });


