= form_for @mcolor do |f|
  .row.card.container.col.s12{:style => "margin: 0 auto;"}
    - if @mcolor.errors.any?
      - flash[:notice] = "favor llenar los campos correctamente"

    .input-fields.col.s6
      = f.label :name, 'Descripción'
      = f.text_field :name
    .input-fields.col.s6
      = f.label :price, 'Precio'
      = f.text_field :price

  %br
  %br
  .actions.container{:style => "margin: 0 auto;"}
    = f.submit 'Salvar', :class => "waves-effect waves-light btn green right"
