%h1 Listing mcolors

%table
  %thead
    %tr
      %th Name
      %th Price
      %th
      %th
      %th

  %tbody
    - @mcolors.each do |mcolor|
      %tr
        %td= mcolor.name
        %td= mcolor.price
        %td= link_to 'Show', mcolor
        %td= link_to 'Edit', edit_mcolor_path(mcolor)
        %td= link_to 'Destroy', mcolor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mcolor', new_mcolor_path
