%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %h1.container Ver Precios
  %br

  - prices = @price.first
  .container{:style=>'margin: 0 auto;'}
    = link_to 'Editar Precios', prices_home_path, :class => 'btn'

    %table.card
      %thead
        %tr
          %th Descripcion
          %th Precio
      %tbody
        %tr
          %td Perno
          %td.s_precio
            = number_to_currency(prices.perno_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Soldadura
          %td.s_precio
            = number_to_currency(prices.soldadura_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Zirconio
          %td.s_precio
            = number_to_currency(prices.zirconio_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Disilicato
          %td.s_precio
            = number_to_currency(prices.disilicato_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Fedespatica
          %td.s_precio
            = number_to_currency(prices.fedespatica_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Porcelana
          %td.s_precio
            = number_to_currency(prices.porcelana_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td PMMA
          %td.s_precio
            = number_to_currency(prices.pmma_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Polímero
          %td.s_precio
            = number_to_currency(prices.polimero_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Composite
          %td.s_precio
            = number_to_currency(prices.composite_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Metal/Porcelana
          %td.s_precio
            = number_to_currency(prices.metal_porcelana_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Zirconio/Porcelana
          %td.s_precio
            = number_to_currency(prices.zirconio_porcelana_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Peek
          %td.s_precio
            = number_to_currency(prices.peek_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Vita Classic
          %td.s_precio
            = number_to_currency(prices.vita_classic_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Vita 3D
          %td.s_precio
            = number_to_currency(prices.vita_3d_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Bioform
          %td.s_precio
            = number_to_currency(prices.bioform_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Chomarcop
          %td.s_precio
            = number_to_currency(prices.chromarcop_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')
        %tr
          %td Otras
          %td.s_precio
            = number_to_currency(prices.otras_price, :format => "%u%n", :unit => '$RD', :delimiter => ',', :separator => '.')



%footer.page-footer
  = render :partial => 'layouts/footer'

