%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h3.container{:style => "margin: 0 auto;"} Listado de Servicios
  %br

  .container{:style => "margin: 0 auto;"}
    %a{:href => new_item_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right add
      Nuevo Servicio
  %br
  .card.container{:style => "margin: 0 auto;"}
    %table
      %thead
        %tr
          %th Servicio
          %th Precio
          %th Categoría
          %th
          %th
          %th

      %tbody
        - @items.each do |item|
          %tr
            %td= item.name
            %td= item.price
            %td= item.category.name
            %td= link_to 'Ver', item
            %td= link_to 'Editar', edit_item_path(item)
            %td= link_to 'Eliminar', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    -# = link_to 'Nuevo', new_item_path

= render :partial => 'layouts/footer'
-# END OF FOOTER
