%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h3.container{:style => "margin: 0 auto;"} Detalles
  %br

  .card.container{:style => "margin: 0 auto;"}
    %p
      %b Categoría:
      = @category.name

    = link_to 'Edit', edit_category_path(@category)
    \|
    = link_to 'Volver', categories_path



= render :partial => 'layouts/footer'
-# END OF FOOTER
