%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  -# %h1{:style => "text-align: center;"} Datos

  %br
  -# %h3{:style => "margin: 0 auto; text-align: center;"}
  -#   -# %i.material-icons{:style => "margin: 8px; font-size:46px;"} check
  -#   Detalles de la Orden
  -# %br

  %h3{:style => "margin: 0 auto; text-align: center;"}
    = image_tag "eu-clipboard.png", :style => "width: 80px;"

  .container{:style => 'margin: 0 auto;display: table;'}

    %a{:href => sales_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.left keyboard_backspace
      Salir

    %a.right.dropdown-button.btn{"data-activates" => "acciones", :href => "#"} Acciones

    %ul.right#acciones.dropdown-content
      - unless @sale.stores.empty?
        %li
          = link_to("Facturar",{:controller => :sales, :action => :factura_print, :format => 'pdf'},
                                :target => "_blank", :target => "_blank", :data => { :reload => true})

        - unless @sale.invoice_number.nil?
          %li
            %a.modal-trigger{:href => '#makepayment'}
              Pagos
              %i.material-icons.right local_atm
      %li.divider
      %li
        %a.modal-trigger{:href => '#statechange'} Cambiar Estado
      %li
        %a.modal-trigger{:href => '#labelprint'} Imprimir Label



    #makepayment.modal{:style => 'height: 300px;'}
      .modal-content
        %h4{:style=> "color:black; text-align: center;"} Realizar Pago
        = form_for :payments, :url => url_for(:controller => "payments", :action => "make_payment"),
                              :method => "get" do |pay|
          .input-field.col.s6
            = pay.select :payment_type, [['Efectivo', 'Efectivo'], ['Tarjeta de Crédito', 'Tarjeta de Crédito'],
                                        ['Otro', 'Otro']], {}, { :class => "col s12" }
          .input-field.col.s3
          = pay.text_field :amount, :placeholder => "Amount",
                         :value => number_to_currency(@sale.remaining_amount - @sale.discount_amount, :format => "%u%n",
                         :unit => '',:delimiter => '',:separator => '.'),
                         :autocomplete => "off"
          = pay.hidden_field :sale_id, :value => @sale.id
          %br
          = submit_tag "Realizar Pago", :class => "waves-effect waves-green btn-flat green right"

    #labelprint.modal
      .modal-content
        .row.container.col.s12{:style => "margin: 0 auto;"}
          .col.s4
            %a.waves-effect.waves-light.btn 5.0"x3.5"
          .col.s4
            %a.waves-effect.waves-light.btn 1.1"x3.5"
          .col.s4
            %a.waves-effect.waves-light.btn Circular

      -# .modal-footer
      -#   %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Imprimir?



    #statechange.modal{:style => "height: 700px;"}
      .modal-content
        %h4{:style=> "color:black; text-align: center;"} Descuento
        = form_for(@sale) do |f|
          .input-field.col.s6
            %i.material-icons.prefix label_outline
            = f.select :state, options_for_select([["Elige el Estado"],
                                                    ["En Proceso", {class: 'circle', "data-icon" => "/assets/blue.png"}],
                                                    ["Urgente", {class: 'circle', "data-icon" => "/assets/red.png"}],
                                                    ["En Prueba", {class: 'circle', "data-icon" => "/assets/orange.png"}],
                                                    ["Facturada - Pendiente", {class: 'circle', "data-icon" => "/assets/purple.png"}],
                                                    ["Facturada - Pago", {class: 'circle', "data-icon" => "/assets/green.png"}],
                                                    ["Anulada", {class: 'circle', "data-icon" => "/assets/null.png"}]],
                                                    disabled: "Elige el Estado"), class: "icons"

          .input-field.col.s6
            %i.material-icons.prefix today
            = f.label :order_date, "Fecha de Entrega"
            = f.text_field :order_date,
              :class => "datepicker"

          %br
          .input-field
            %i.material-icons.prefix speaker_notes
            = f.label :concept, "Nota"
            = f.text_area :concept,
              :class => "materialize-textarea"

          .actions.modal-footer
            %button.btn.waves-effect.waves-light.right{:name => "action", :type => "submit", data: { disable_with: "Cambiando Estado.." }}
              %i.material-icons.right save
              Salvar


  .card.container.row{:style => "margin: 0 auto; font-size: x-large;"}
    .collection-header
      %h4{:style=> "color:black; text-align: center;"} Datos de la Orden
    %hr.style17
    .div#order-status
      = render 'order_status'
    %br
    .div{:style => "margin-left: 15px;"}
      %p.col.s12.margin-f
        %u Orden No:
        = @sale.id

      %p.col.s6.margin-f
        %b Cliente:
        = link_to "#{@sale.client.name}", client_path(@sale.client_id)

      %p.col.s6.margin-f
        %b Paciente:
        = @sale.patient_name

      %p.col.s6.margin-f
        %b Fecha de Entrada:
        = @sale.created_at.strftime("%F")

      %p.col.s6.margin-f
        %b Fecha de Entrega:
        = @sale.order_date

      %p.col.s6.margin-f
        %b Edad:
        = @sale.age

      %p.col.s6.margin-f
        %b Sexo:
        = @sale.sex

      %p.col.s6.margin-f
        %b Notas del Cliente:
        = @sale.client_note

      %p.col.s6.margin-f
        %b Otras Notas:
        = @sale.other_note

      -# %p.col.s6.margin-f
      -#   %b Coti:
      -#   = @sale.coti

      %p.col.s6.margin-f
        %b Notas:
        -#= truncate(@sale.concept, 100, "... Read More")
        = truncate(@sale.concept, :ommision => "...", :length => 200)

      %p.col.s6.margin-f
        %b Fecha de Entrega:
        = @sale.order_date

      -#%p.col.s6.margin-f{:style => 'color:orange;'}
      -#  %b Balance:
      -#  = "#{number_to_currency(@sale.remaining_amount - @sale.discount_amount, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"
        -# balance = total - sumatoria de pagos


  .container
    %br
    - if @sale.payments.empty?
      %a{:href => edit_sale_path(@sale), :class => "waves-effect waves-light btn blue"}
        %i.material-icons.right edit
        Editar Datos
    - if @sale.coti
      %a{:href => "#", :class => "waves-effect waves-light btn green"}
        %i.material-icons.right receipt
        Imprimir Cotización

  .container
    %br
    %a.right{:href => new_sale_store_path(@sale), :class => "waves-effect waves-light btn green"}
      %i.material-icons.right add
      Agregar Servicios
    -# = link_to 'Agregar Servicios', new_sale_store_path(@sale), :class => 'waves-effect waves-light btn green'

  %br



  .card.container{:style => "margin: 0 auto;", :class => "highlight"}
    .collection-header
      %h4{:style=> "color:black; text-align: center;"} Servicios
    %hr.style17
    %table.striped
      %thead
        %tr
          %th Cantidad
          %th Descripción
          %th.right Monto
          %th
            %b.right Acciones
      %tbody
        - @sale.stores.each do |store|
          %tr
            %td
              %i
                = store.cant
            %td
              Diente:
              = "#{store.tooth}"
              = " - Antagonista" if store.antagonista
              = " - Mordida" if store.mordida
              %i
                %br
                = "#{store.worktype_name}"
                = " - #{store.note}" if store.note != ""
                = "(Sobre Implante)" if store.implant
                = "- Marca: #{store.brand}" if store.brand != ""
                = ", #{store.material_name}" if store.material_name != nil
                = ", #{store.mcolor_name}" if store.mcolor_name != nil
                = ", #{store.gcolor_name} - #{store.color_note}" if store.gcolor_name != nil
                = ", #{store.procedure_name}" if store.procedure_name != nil


            %td.right
              -#= store.amount
              = "$#{number_to_currency(store.amount, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"
            %td
              - if @sale.invoice_number.nil?
                = link_to sale_store_path(store.sale, store), method: :delete do
                  %i.material-icons.right.service_icon delete
              -# %i.material-icons.right.service_icon{:style => "color: #e67e22;"} assignment
              = link_to("<i class='material-icons service_icon right' style='color: #e67e22;'>assignment</i>".html_safe, {:sale_id => store.sale, :store_id => store, :controller => :stores, :action => :order_sheet, :format => 'pdf'},:target => "_blank")

              -# %i.material-icons.right assignment
      %tr
        %td
        %td
        %td.right
          %a.modal-trigger{:href => '#discountmodal'}
            = "Descuento"
          = "(%#{@sale.discount}) - #{number_to_currency(@sale.discount_amount, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"
        %td
      %tr
        %td
        %td
        %td.right
          %b
            = "Total $#{number_to_currency(@sale.order_total, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"

        %td
      %tr
        %td
        %td
        %td.right
          %b
            = "Total con Desc. $#{number_to_currency(@sale.order_total - @sale.discount_amount, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"

        %td
      %tr
        %td
        %td
        %td.right
          %b{:style => 'color: orange;'}
            = "Balance $#{number_to_currency(@sale.remaining_amount - @sale.discount_amount, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"

        %td


  #discountmodal.modal{:style => "height: 700px;"}
    .modal-content
      %h4{:style=> "color:black; text-align: center;"} Descuento
      .col.s6{:style=> "margin:0 auto; width: 50%;"}
        = form_for(@sale) do |d|
          .input-field.col.s6
            %i.material-icons.prefix money_attach

            = d.select :discount, options_for_select([["0 %"],
                                                      ["5 %"],
                                                      ["10 %"],
                                                      ["15 %"],
                                                      ["20 %"],
                                                      ["25 %"],
                                                      ["30 %"],
                                                      ["35 %"],
                                                      ["40 %"],
                                                      ["45 %"],
                                                      ["50 %"]])

            -#= d.label :discount, "Porcentaje"
            -#= d.number_field :discount, :in => 0..100



          .actions.modal-footer
            %button.btn.waves-effect.waves-light.right{:name => "action", :type => "submit", data: { disable_with: "Cambiando Estado.." }}
              %i.material-icons.right save
              Aplicar



  .card.container{:style => "margin: 0 auto;", :class => "highlight"}
    .collection-header
      %h4{:style=> "color:black; text-align: center;"} Historial de Pago
    %hr.style17
    %table.striped
      %thead
        %tr
          %th Tipo de Pago
          %th Monto
          %th Fecha
          %th Acciones
      %tbody
        - @sale.payments.each do |payment|
          %tr
            %td
              = payment.payment_type
            %td
              %b{:style => "color: green"}
                = "$#{number_to_currency(payment.amount.to_f, :format => "%u%n", :unit => '',:delimiter => ',',:separator => '.')}"

            %td
              = payment.created_at.strftime("%F")
            %td
              = link_to("<i class='material-icons'>print</i>".html_safe, {:paymentid => payment, :saleid => @sale, :controller => :payments, :action => :receipt_print, :format => 'pdf'},:target => "_blank")




  .container
    %br
    -#
    -#%a.modal-trigger.waves-effect.waves-light.btn{:href => "#modal1"} Comentarios
    -#
    -##modal1.modal.bottom-sheet
    -#  .modal-content
    -#    %h4 Modal Header
    -#    %p A bunch of text
    -#  .modal-footer
    -#    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Agree

    -# - if current_user.role_level <= 2
      -# = link_to '<i class="material-icons" style="font-size: 2.3rem;">print</i>'.html_safe, order_path(@order, format: 'pdf'), class: "col s6 m3 right btn green", :target => "_blank", :data => { :reload => true}
    -#%a{:href => sales_path, :class => "waves-effect waves-light btn blue"}
    -#  %i.material-icons.right exit_to_app
    -#  Salir
    -#%a.right{:href => "#", :class => "waves-effect waves-light btn green"}
    -#  %i.material-icons.right print
    -#  Facturar

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
