%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  -# %h1{:style => "text-align: center;"} Datos

  %br
  -# %h3{:style => "margin: 0 auto; text-align: center;"}
  -#   -# %i.material-icons{:style => "margin: 8px; font-size:46px;"} check
  -#   Detalles de la Orden
  -# %br

  %h3{:style => "margin: 0 auto; text-align: center;"}
    = image_tag "eu-clipboard.png", :style => "width: 80px;"

  .card.container.row{:style => "margin: 0 auto; font-size: x-large;"}
    .collection-header
      %h4{:style=> "color:black; text-align: center;"} Datos de la Orden
    %hr.style17
    .div#order-status
      = render 'order_status'
    %br
    .div{:style => "margin-left: 15px;"}
      %p.col.s12.margin-f
        %u Orden No:
        = @sale.id

      %p.col.s6.margin-f
        %b Cliente:
        = link_to "#{@sale.client.name}", client_path(@sale.client_id)

      %p.col.s6.margin-f
        %b Paciente:
        = @sale.patient_name

      %p.col.s6.margin-f
        %b Fecha de Entrada:
        = @sale.created_at.strftime("%F")

      %p.col.s6.margin-f
        %b Fecha de Entrega:
        = @sale.order_date

      %p.col.s6.margin-f
        %b Edad:
        = @sale.age

      %p.col.s6.margin-f
        %b Sexo:
        = @sale.sex

      %p.col.s6.margin-f
        %b Notas del Cliente:
        = @sale.client_note

      %p.col.s6.margin-f
        %b Otras Notas:
        = @sale.other_note

      -# %p.col.s6.margin-f
      -#   %b Coti:
      -#   = @sale.coti

      %p.col.s6.margin-f
        %b Concepto de Anulaci칩n:
        = @sale.concept

      %p.col.s6.margin-f
        %b Fecha de Entrega:
        = @sale.order_date



  .container
    %br
    %a{:href => edit_sale_path(@sale), :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right edit
      Editar
    %a{:href => "#", :class => "waves-effect waves-light btn green"}
      %i.material-icons.right receipt
      Imprimir Cotizaci칩n

  .container
    %br
    %a.right{:href => new_sale_store_path(@sale), :class => "waves-effect waves-light btn green"}
      %i.material-icons.right add
      Agregar Servicios
    -# = link_to 'Agregar Servicios', new_sale_store_path(@sale), :class => 'waves-effect waves-light btn green'

  %br



  .card.container{:style => "margin: 0 auto;", :class => "highlight"}
    .collection-header
      %h4{:style=> "color:black; text-align: center;"} Servicios
    %hr.style17
    %table.striped
      %thead
        %tr
          %th Cantidad
          %th Descripci칩n
          %th.right Monto
          %th
            %b.right Eliminar
      %tbody
        - @sale.stores.each do |store|
          %tr
            %td
              %i
                = store.cant
            %td
              Diente:
              = "#{store.tooth}"
              = " - Antagonista" if store.antagonista
              = " - Mordida" if store.antagonista
              %i
                %br
                = " #{store.worktype_name}-#{store.note}, #{store.material_name},#{store.mcolor_name}-#{store.color_note}, #{store.gcolor_name}, #{store.procedure_name}"
                = "(Sobre Implante - Marca: #{store.brand})" if store.implant
            %td.right
              $0.00
              = store.amount
            %td
              = link_to sale_store_path(store.sale, store), method: :delete, data: { confirm: "Est치 Seguro?" } do
                %i.material-icons.right delete






  .container
    %br
    -# - if current_user.role_level <= 2
      -# = link_to '<i class="material-icons" style="font-size: 2.3rem;">print</i>'.html_safe, order_path(@order, format: 'pdf'), class: "col s6 m3 right btn green", :target => "_blank", :data => { :reload => true}
    %a{:href => sales_path, :class => "waves-effect waves-light btn blue"}
      %i.material-icons.right exit_to_app
      Salir
    %a.right{:href => "#", :class => "waves-effect waves-light btn green"}
      %i.material-icons.right print
      Facturar

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
  = link_to 'Edit', edit_sale_path(@sale)
  \|
  = link_to 'Back', sales_path
