-# %a.right.modal-trigger{:href =>"#search_filter_ordersx", :class => "waves-effect waves-light btn blue"}
-#   -# %i.material-icons.right search
-#   Filtro


-# = search_form_for @search do |f|
-#   .input-field.right.hide-on-small-only{:center => ""}
-#     = f.number_field :invoice_num_eq, :placeholder => "Factura...",
-#                                       :type => "search",
-#                                       :style => "height: 63px; margin: 0;",
-#                                       :id => "search"
-#     %label{:for => "search"}
-#       %i.material-icons search
-# .modal#search_filter_ordersx
-#   .row
-#     .container
-#       = search_form_for @search, url: sales_path do |f|
-#         .input-field{:class => "col s6"}
-#           = f.label :client_name_cont, "Cliente"
-#           = f.text_field :client_name_cont
-#         .input-field{:class => "col s6"}
-#           = f.label :patient_name_cont, "Paciente"
-#           = f.text_field :patient_name_cont

-#         = f.submit "Buscar", :class => "waves-effect waves-light btn blue",
-#         :style => "left: 15px; bottom: 5px;"
      


-# %a.waves-effect.waves-light.btn.modal-trigger{:href => "#main-search"} Modal
/ Modal Structure
#main-search.modal{:style => "overflow-y: inherit;"}
  = search_form_for @search do |f|
    .modal-content{:style => "color: black;"}
      %h4{:style => "color: black;"} 
        Búsqueda Rápida - Ordenes
      %br  
      .row.card
        .col.s12
          .row
            .input-field.col.s6
              %i.material-icons.prefix group
              = f.label :client_name_cont, "Cliente"
              = f.text_field :client_name_cont, :type => "tel"

            .input-field.col.s6
              %i.material-icons.prefix confirmation_number
              = f.label :invoice_number_id_eq, "Factura"
              = f.text_field :invoice_number_id_eq, :type => "tel"

            .input-field.col.s6
              %i.material-icons.prefix book
              = f.label :id_eq, "Orden"
              = f.text_field :id_eq, :type => "tel"

    .modal-footer{:style => "height: 83px;"}
      -# %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Agree
      = f.submit "Buscar", :class => "waves-effect waves-light btn blue"