%nav.nav-fixed
  .nav-wrapper
    %a.button-collapse{"data-activates" => "slide-out", :href => "#", :class => "button-collapse show-on-large"}
      %i.material-icons menu
    %ul.left
      %li
        %a.tooltipped{:href => root_path, "data-tooltip" => "Inicio", "data-position" => "bottom"}
          %i.material-icons{:style => "color: white;"} home
      %li
        %a.tooltipped{:href => clients_path, "data-tooltip" => "Clientes", "data-position" => "bottom"}
          %i.material-icons{:style => "color: #8fbc8f;"} person_pin
      %li
        %a.tooltipped{:href => new_sale_path, "data-tooltip" => "Nueva Orden", "data-position" => "bottom"}
          = image_tag "Tooth-100", :style => "width: 39px; display:block; padding-top: 12px; padding-bottom: 12px;"
          -#  %i.material-icons{:style => "color: white;"} local_hospital
      -# %li
      -#   %a.tooltipped{:href => orders_path, "data-tooltip" => "Consultar Ordenes", "data-position" => "bottom"}
      -#     %i.material-icons{:style => "color: #dda0dd;"} assignment
      %li
        %a.tooltipped{:href => sales_path, "data-tooltip" => "Consultar Ordenes", "data-position" => "bottom"}
          %i.material-icons{:style => "color: #dda0dd;"} assignment


      -# - if current_user.role_level == 1
      -#   %li
      -#     %a.tooltipped{:href => accountability_index_path, "data-tooltip" => "Contabilidad", "data-position" => "bottom"}
      -#       %i.material-icons{:style => "color: #adff2f;"} attach_money

    %ul.right
      - if current_user.role_level == 1
        %li
          %a.tooltipped{:href => admin_index_path, "data-tooltip" => "Ajustes", "data-position" => "bottom"}
            %i.material-icons{:style => "color: white;"} settings

          /*Renders search field only if root page or orders*/
    = render 'layouts/search_nav' if current_page?('/')
    = render 'layouts/search_nav' if current_page?(orders_path)
    = render 'layouts/search_nav' if current_page?(sales_path)


    %ul#slide-out.side-nav
      -#%li
      -#  .userView
      -#    .background
      -#      = image_tag 'categories.jpg'
      %li
        %a.tooltipped{:href => root_path, "data-tooltip" => "Inicio", "data-position" => "right"} Inicio
      %li
        %a.tooltipped{:href => clients_path, "data-tooltip" => "Listado de Clientes", "data-position" => "right"} Clientes
      %li
        %a.tooltipped{:href => sales_path, "data-tooltip" => "Listado de Ordenes", "data-position" => "right"} Ordenes
      -# %li
      -#   %a.tooltipped{:href => consulta_index_path, "data-tooltip" => "Generar Consulta", "data-position" => "right"} Consultas
      %li
        %a.tooltipped{:href => suppliers_path, "data-tooltip" => "Listado de Suplidores", "data-position" => "right"} Suplidores
      - if current_user.role_level == 1
        %li
          %a.tooltipped{:href => reports_index_path, "data-tooltip" => "Generar Reportes", "data-position" => "right"} Reportes
        %li
          %a.tooltipped{:href => accountability_index_path, "data-tooltip" => "Consultas", "data-position" => "right"} Consultas
        %li
          %a.tooltipped{:href => admin_index_path, "data-tooltip" => "Administración", "data-position" => "right"} Administración
      = link_to('Cerrar Sesion', destroy_user_session_path, :method => :delete, :class => "btn btn-default red btn-flat", :id => "logoutnav-bar")
